<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="fileLocation" connectionString="E:\Utilities\Source\DonnersPlaypen-z-dev\GIDAdministration\GIDAdministration\"/>
    <add name="GuildList" connectionString="GuildList.Json"/>
  </connectionStrings>
</configuration>